<div class="jumbotron hero" >
{{#block "header"}}
<!DOCTYPE html>
<html>
<head>
    <title>{{#block "tittle"}}Hero Squad{{/block}}</title>

    <link href="https://fonts.googleapis.com/css?family=Acme|Bangers|Poppins:500&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' type="text/css" href='/css/app.css'>
</head>
<body>
<nav class="navbar justify-content-center bg-dark">
    <ul class="nav">
        <li class="nav-item">

            <a class="nav-link"href="/">HOME</a>
        </li>
        <li class="nav-item">
        <li class="nav-item">
            <a class="nav-link"href="/heroes/new">recruit new hero<a>
        <li class="nav-item">
            <a class="nav-link"href="/squads/new">Create a New Squad</a>
        </li>
        </li>
        <a class="nav-link"href="/heros">All Heroes & Squads</a>
        </li>
    </ul>
</nav>

{{/block}}

<div class="jumbotron">
    <h1 class="text-center">Hero Squads</h1>
    <h5 class="text-center">The Superhero Registry</h5>
</div>

<div>
    {{#block "content"}}
    {{/block}}
</div>

{{#block "footer"}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



    </body>
    </html>
    {{/block}}

</div>